</main>
<footer>
  <p>&copy; 2023 Best Social Network</p>
  <p>Follow us on:
    <a href="https://twitter.com/bestsocialnetwork">Twitter</a>,
    <a href="https://facebook.com/bestsocialnetwork">Facebook</a>,
    <a href="https://instagram.com/bestsocialnetwork">Instagram</a>
  </p>
</body>
</html>