<%- include('partials/header') -%>
    <h1>Administration</h1>
    <p>Welcome to the administration panel of the Best Social Network.</p>
    <p>Here you can manage users, posts, and other administrative tasks.</p>
<%- include('partials/footer') -%>