<%- include('partials/header') -%>
    <h1>Welcome to the Best Social Network</h1>
    <p>This is a simple social network application.</p>
    <p>Feel free to explore and connect with others!</p>
    <pre>
      <code>
        <%= JSON.stringify(users, null, 2) %>
      </code>
    </pre>
<%- include('partials/footer') -%>