<%- include('partials/header') -%>
    <h1>Register</h1>
    <form method="POST">
      <p><input type="text" name="email" placeholder="email" required></p>
      <p><input type="password" name="password" placeholder="password" required></p>
      <p><button type="submit">Login</button></p>
      <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
<%- include('partials/footer') -%>